@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.no-address-list {
  background-color: #ecf3f4;
  border-left: white solid 1px;
  height: 35px;
}

.no-address-title {
  font-family: "Roboto";
  color: #5576ce;
}
