.navbar-content {
  margin-top: 2em;
}

.nav-button {
  color: darkgrey !important;
}

.nav-button:hover,
.nav-button:visited {
  color: darkslategray !important;
  text-decoration: none !important;
}

.search-logo {
  margin-top: 5px;
  margin-left: 15px;
  width: 70px;
}

.initial-logo {
  width: 100px;
}

.search-bar {
  padding-top: 15px;
  padding-left: 25px;
}

.header-container {
  padding: 20px 45px 0px 45px;
}

.header-divisor {
  margin: 10px 45px;
}

.dropdown-and-toggle {
  background-color: lightgray;
  border-radius: 4px;
  height: 39px;
  width: 384px;
}
