.business-container {
  width: 410px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  height: 73vh;
  overflow: scroll;
  border: none;
}

@media (min-height: 700px) {
  .business-container {
    height: 75.5vh;
  }
}

.map-service-box:hover .business-name,
.map-service-box.hover .business-name {
  background-color: red;
}

.business-map-wrapper {
  margin-left: 40px;
  margin-right: 40px;
}

.no-address-list {
  height: 87.7vh;
  overflow: auto;
}

.business-name {
  font-size: 18px;
  background-color: rgb(23, 162, 184);
  padding: 10px;
  color: white;
  font-weight: 600;
  border-radius: 10px 10px 0px 0px;
}

.business-details-wrapper {
  padding: 10px;
}

.business-details {
  font-size: 14px;
  margin-bottom: 5px;
}

.dropdown-and-toggle {
  background-color: lightgray;
  border-radius: 4px;
  height: 39px;
  width: 384px;
  margin: auto;
}

.dropdown-background {
  background-color: #ecf3f4;
}

.map-service-box {
  border: 1px solid darkgray;
  border-radius: 12px;
  margin-bottom: 5px;
  background-color: #ecf3f4;
}
