@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.submit-button {
    background-color: #df629c!important;
    border-color: #df629c!important;
    width: 100%;
}

.search-title, .search-city {
    color: #5576ce;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-top: 2px;
}

.search-city {
    margin-top: -4px;
    margin-left: 7px;
}
