.logo-simples {
  margin: 15px 0 5px 15px !important;
  position: absolute;
}

.description-1,
.description-2 {
  font-size: 40px;
  margin: 0px;
}

.description-wrapper {
  margin-left: 40px;
  margin-bottom: 65px;
  text-shadow: 5px 5px 5px lightgray;
}

.description-1 {
  color: orange;
}

.description-2 {
  color: red;
}

.categories-wrapper {
  margin-left: 40px;
  margin-right: 20px;
}
