.logo-simples {
  margin: 15px 0 5px 15px !important;
  position: absolute;
}

.description-1,
.description-2 {
  font-size: 40px;
  margin: 0px;
}

.description-wrapper {
  margin-left: 40px;
}

.description-1 {
  color: orange;
}

.description-2 {
  color: red;
}
