.tile-wrapper {
  width: 205px;
  height: 293px;
  margin-bottom: 23px;
}

.ribbon-wrapper {
  position: relative;
  z-index: 998;
}
.ribbon-front {
  line-height: 1.5;
  background-color: #cc3333;
  height: 71px;
  width: 216px;
  position: relative;
  left: -10px;
  z-index: 2;
  font-size: 20px;
  font-family: Roboto;
  color: #f8f8f8;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  margin-top: 30px;
}

.ribbon-edge-topleft {
  top: -20px;
  height: 10px;
  position: absolute;
  z-index: 1;
  height: 0px;
  width: 0px;
  left: -10px;
  width: 11px;
  height: 20px;
  background-color: #992f2f;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 21px solid white;
  border-right: 10px solid transparent;
}

.glow {
  background: none;
  width: 40px;
  height: 100%;
  z-index: 999;
  position: absolute;
}

.tile-service-link {
  font-family: Roboto;
  display: block;
  color: white;
  font-size: 14px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.tile-service-link:hover {
  color: orange;
}

.tile-wrapper:hover {
  box-shadow: 5px -5px 10px -3px gray;
}
