@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");

body {
  margin-left: 7px;
  background-color: #fbfbfb;
  font-family: Oswald, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
